---
// Components
import { Image } from 'astro:assets';

// Images
import logo from '../assets/png/logo__grow-together--black.png';

// Components
import ConferenceValues from '../components/ConferenceValues.astro';
import GivingTuesdayBadge from '../components/GivingTuesdayBadge.astro';
import ScatteredIcons from '../components/ui/ScatteredIcons.astro';
import BGCircles from '../components/BGCircles.astro';
---

<style lang='scss'>
	.grow-together {
		&__logo {
			height: 240px;
			max-width: 100vw;
		}
	}
</style>

<section
	id='grow-together'
	class='grow-together position-relative py-5 overflow-hidden'
>
	<BGCircles />
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-10 col-lg-12'>
				<GivingTuesdayBadge
					badgeType='light'
					text='Initiative One'
				/>
			</div>
		</div>
		<div class='row my-5 justify-content-center justify-content-lg-start'>
			<div
				class='col col-lg-8 col-xl-9 d-flex flex-column align-items-center align-items-lg-start'
			>
				<Image
					src={logo}
					alt='Grow Together Conference Logo'
					class='w-auto object-fit-contain grow-together__logo'
				/>
				<h2 class='text-capitalize'>
					Help Send Ministry Leaders to our Conference
				</h2>
				<p class='fs-5'>
					Each year, Kingdom One hosts the Grow Together conference to
					help ministry staff learn healthy ways to grow their
					ministry, create community, and engage with practices to
					help them become more effectual. Your donation supports
					scholarships to invite ministries to become more courageous,
					healthy, and effective!
				</p>
			</div>
			<div class='col-12'>
				<ConferenceValues />
			</div>
		</div>
		<div class='col-xl-3 d-none d-sm-block'>
			<ScatteredIcons />
		</div>
	</div>
</section>

<script>
	import AOS from 'aos/dist/aos.js';
	AOS.init();
</script>
